[alias]
st = status
ci = commit
di = diff
dic = diff --cached
dio = diff origin master
co = checkout
br = branch
logp = log -p
[user]
	name = weiwei.liu
	email = weiwei.liu@husor.com.cn
[push]
    default = matching
[color]
    ui = auto
[credential]
	helper = store
